.267_2 { 
	overflow:hidden;
}.e267_2 { 
	background-color:rgba(244.0000006556511, 244.0000006556511, 244.0000006556511, 1);
	width:375px;
	height:850px;
	position:absolute;
}.e267_3 { 
	background-color:rgba(223.125, 223.125, 223.125, 1);
	width:334px;
	height:95px;
	position:absolute;
	left:22px;
	top:353px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}.e267_10 { 
	background-color:rgba(255, 255, 255, 1);
	width:346px;
	height:127px;
	position:absolute;
	left:15px;
	top:172px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}.e267_11 { 
	width:375px;
	height:108px;
	position:absolute;
	left:0px;
	top:-20px;
}.e267_12 { 
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:108px;
	position:absolute;
	left:0px;
	top:0px;
}.e267_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(231.00000143051147, 195.0000035762787, 221.00000202655792, 1);
	width:376px;
	height:68px;
	position:absolute;
	left:-1px;
	top:88px;
}.267_13 { 
	border:0px solid rgba(0, 0, 0, 1);
}.e267_14 { 
	width:375px;
	height:65px;
	position:absolute;
	left:0px;
	top:91px;
}.e267_15 { 
	color:rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
	width:161px;
	height:41px;
	position:absolute;
	left:115px;
	top:100px;
	font-family:Space Mono;
	text-align:justified;
	font-size:26px;
	letter-spacing:0;
}.e267_16 { 
	width:248px;
	height:67.19957733154297px;
	position:absolute;
	left:55px;
	top:12.561576843261719px;
}.e267_17 { 
	background-color:rgba(87.00000241398811, 130.0000074505806, 187.00000405311584, 1);
	width:64.19535827636719px;
	height:67.19957733154297px;
	position:absolute;
	left:0px;
	top:0px;
}.e267_18 { 
	background-color:rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
	width:10.128509521484375px;
	height:15.207450866699219px;
	position:absolute;
	left:75.201904296875px;
	top:27.104694366455078px;
}.e267_19 { 
	background-color:rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
	width:8.401702880859375px;
	height:15.199905395507812px;
	position:absolute;
	left:88.14230346679688px;
	top:27.10552215576172px;
}.e267_20 { 
	background-color:rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
	width:11.970260620117188px;
	height:15.206642150878906px;
	position:absolute;
	left:98.75785827636719px;
	top:27.10552215576172px;
}.e267_21 { 
	background-color:rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
	width:10.466903686523438px;
	height:15.222896575927734px;
	position:absolute;
	left:112.02810668945312px;
	top:27.10504150390625px;
}.e267_22 { 
	background-color:rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
	width:9.786972045898438px;
	height:15.206642150878906px;
	position:absolute;
	left:124.46978759765625px;
	top:27.10552215576172px;
}.e267_23 { 
	background-color:rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
	width:11.71282958984375px;
	height:15.206642150878906px;
	position:absolute;
	left:135.53424072265625px;
	top:27.10552215576172px;
}.e267_24 { 
	background-color:rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
	width:9.788589477539062px;
	height:15.206642150878906px;
	position:absolute;
	left:148.9927215576172px;
	top:27.10552215576172px;
}.e267_25 { 
	background-color:rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
	width:10.719879150390625px;
	height:15.616703033447266px;
	position:absolute;
	left:160.6827392578125px;
	top:26.90127182006836px;
}.e267_26 { 
	background-color:rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
	width:16.454269409179688px;
	height:17.980003356933594px;
	position:absolute;
	left:173.04586791992188px;
	top:27.99813461303711px;
}.e267_27 { 
	background-color:rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
	width:12.142410278320312px;
	height:15.206642150878906px;
	position:absolute;
	left:191.5981903076172px;
	top:27.10552215576172px;
}.e267_28 { 
	background-color:rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
	width:12.72265625px;
	height:15.629802703857422px;
	position:absolute;
	left:205.54559326171875px;
	top:26.89569091796875px;
}.e267_29 { 
	background-color:rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
	width:15.68524169921875px;
	height:15.206642150878906px;
	position:absolute;
	left:220.06298828125px;
	top:27.10552215576172px;
}.e267_30 { 
	background-color:rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
	width:10.0283203125px;
	height:15.206642150878906px;
	position:absolute;
	left:237.9716796875px;
	top:27.10552215576172px;
}.e267_31 { 
	background-color:rgba(255, 255, 255, 1);
	width:36.52216339111328px;
	height:33.178733825683594px;
	position:absolute;
	left:13.836593627929688px;
	top:15.157793045043945px;
}.e267_32 { 
	background-color:rgba(231.00000143051147, 195.0000035762787, 221.00000202655792, 1);
	width:8.688087463378906px;
	height:12.968338012695312px;
	position:absolute;
	left:35.07415771484375px;
	top:35.368202209472656px;
}.e267_33 { 
	color:rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
	width:345px;
	height:100px;
	position:absolute;
	left:15px;
	top:186px;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e267_34 { 
	background-color:rgba(255, 255, 255, 1);
	width:346px;
	height:97px;
	position:absolute;
	left:15px;
	top:345px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}.e267_35 { 
	background-color:rgba(255, 255, 255, 1);
	width:346px;
	height:341px;
	position:absolute;
	left:15px;
	top:487px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}.e267_36 { 
	background-color:rgba(231.00000143051147, 195.0000035762787, 221.00000202655792, 1);
	width:324px;
	height:71px;
	position:absolute;
	left:23px;
	top:581px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e267_37 { 
	color:rgba(0, 0, 0, 1);
	width:94px;
	height:14px;
	position:absolute;
	left:229px;
	top:622px;
	font-family:Roboto;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e267_38 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:35px;
	position:absolute;
	left:229px;
	top:589px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e267_39 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:23px;
	position:absolute;
	left:80px;
	top:595px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e267_40 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:43px;
	height:43px;
	position:absolute;
	left:32px;
	top:595px;
}.e267_41 { 
	color:rgba(0, 0, 0, 1);
	width:17px;
	height:35px;
	position:absolute;
	left:45px;
	top:599px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e267_42 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:16px;
	position:absolute;
	left:80px;
	top:623px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e267_43 { 
	background-color:rgba(231.00000143051147, 195.0000035762787, 221.00000202655792, 1);
	width:324px;
	height:71px;
	position:absolute;
	left:23px;
	top:502px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e267_44 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:16px;
	position:absolute;
	left:80px;
	top:542px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e267_45 { 
	color:rgba(0, 0, 0, 1);
	width:94px;
	height:14px;
	position:absolute;
	left:229px;
	top:543px;
	font-family:Roboto;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e267_46 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:35px;
	position:absolute;
	left:229px;
	top:510px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e267_47 { 
	width:25px;
	height:16px;
	position:absolute;
	left:15px;
	top:115px;
}.267_48 { 
	border:4px solid rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
}.e267_48 { 
	width:25px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}.267_49 { 
	border:4px solid rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
}.e267_49 { 
	width:25px;
	height:0px;
	position:absolute;
	left:0px;
	top:16px;
}.267_50 { 
	border:4px solid rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
}.e267_50 { 
	width:25px;
	height:0px;
	position:absolute;
	left:0px;
	top:8px;
}.e267_51 { 
	color:rgba(0, 0, 0, 1);
	width:176px;
	height:23px;
	position:absolute;
	left:108px;
	top:373px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e267_52 { 
	color:rgba(0, 0, 0, 1);
	width:64px;
	height:23px;
	position:absolute;
	left:15px;
	top:318px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e267_53 { 
	color:rgba(19.03645411133766, 47.97186344861984, 91.37499645352364, 1);
	width:174px;
	height:19px;
	position:absolute;
	left:110px;
	top:403px;
	font-family:Roboto;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e267_54 { 
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:23px;
	position:absolute;
	left:15px;
	top:461px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e267_55 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:23px;
	position:absolute;
	left:80px;
	top:516px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e267_56 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:43px;
	height:43px;
	position:absolute;
	left:32px;
	top:516px;
}.e267_57 { 
	color:rgba(0, 0, 0, 1);
	width:17px;
	height:35px;
	position:absolute;
	left:45px;
	top:520px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e267_58 { 
	background-color:rgba(231.00000143051147, 195.0000035762787, 221.00000202655792, 1);
	width:324px;
	height:71px;
	position:absolute;
	left:23px;
	top:581px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e267_59 { 
	color:rgba(0, 0, 0, 1);
	width:94px;
	height:14px;
	position:absolute;
	left:229px;
	top:622px;
	font-family:Roboto;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e267_60 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:35px;
	position:absolute;
	left:229px;
	top:589px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e267_61 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:23px;
	position:absolute;
	left:80px;
	top:595px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e267_62 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:43px;
	height:43px;
	position:absolute;
	left:32px;
	top:595px;
}.e267_63 { 
	color:rgba(0, 0, 0, 1);
	width:17px;
	height:35px;
	position:absolute;
	left:45px;
	top:599px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e267_64 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:16px;
	position:absolute;
	left:80px;
	top:623px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e267_65 { 
	background-color:rgba(231.00000143051147, 195.0000035762787, 221.00000202655792, 1);
	width:324px;
	height:71px;
	position:absolute;
	left:23px;
	top:660px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e267_66 { 
	color:rgba(0, 0, 0, 1);
	width:94px;
	height:14px;
	position:absolute;
	left:229px;
	top:701px;
	font-family:Roboto;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e267_67 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:35px;
	position:absolute;
	left:229px;
	top:668px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e267_68 { 
	color:rgba(0, 0, 0, 1);
	width:45px;
	height:23px;
	position:absolute;
	left:80px;
	top:677px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e267_69 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:43px;
	height:43px;
	position:absolute;
	left:32px;
	top:674px;
}.e267_70 { 
	color:rgba(0, 0, 0, 1);
	width:17px;
	height:35px;
	position:absolute;
	left:45px;
	top:678px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e267_71 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:16px;
	position:absolute;
	left:80px;
	top:702px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e267_72 { 
	background-color:rgba(231.00000143051147, 195.0000035762787, 221.00000202655792, 1);
	width:324px;
	height:71px;
	position:absolute;
	left:23px;
	top:739px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e267_73 { 
	background-color:rgba(231.00000143051147, 195.0000035762787, 221.00000202655792, 1);
	width:324px;
	height:71px;
	position:absolute;
	left:23px;
	top:581px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e267_74 { 
	color:rgba(0, 0, 0, 1);
	width:94px;
	height:14px;
	position:absolute;
	left:229px;
	top:622px;
	font-family:Roboto;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e267_75 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:35px;
	position:absolute;
	left:229px;
	top:589px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e267_76 { 
	color:rgba(0, 0, 0, 1);
	width:58px;
	height:23px;
	position:absolute;
	left:81px;
	top:595px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e267_77 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:43px;
	height:43px;
	position:absolute;
	left:32px;
	top:595px;
}.e267_78 { 
	color:rgba(0, 0, 0, 1);
	width:17px;
	height:35px;
	position:absolute;
	left:45px;
	top:599px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e267_79 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:16px;
	position:absolute;
	left:80px;
	top:623px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e267_80 { 
	color:rgba(0, 0, 0, 1);
	width:94px;
	height:14px;
	position:absolute;
	left:229px;
	top:780px;
	font-family:Roboto;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e267_81 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:35px;
	position:absolute;
	left:229px;
	top:747px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e267_82 { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:23px;
	position:absolute;
	left:80px;
	top:753px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e267_83 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:43px;
	height:43px;
	position:absolute;
	left:32px;
	top:753px;
}.e267_84 { 
	color:rgba(0, 0, 0, 1);
	width:17px;
	height:35px;
	position:absolute;
	left:45px;
	top:757px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e267_85 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:16px;
	position:absolute;
	left:80px;
	top:781px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e267_86 { 
	width:74px;
	height:74px;
	position:absolute;
	left:25px;
	top:357px;
	background-image:url(images/image_24.png);
	background-repeat:no-repeat;
	background-size:cover;
}